@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-gray-900 antialiased;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4;
  }
}
